@tailwind base;
@tailwind components;
@tailwind utilities;

.p-checkbox .p-checkbox-box {
     border: 2px solid #192939; 
    /* background: #dfd5d5; */
     width: 20px; 
    height: 20px; 
    /* color: #2f5377; */
    border-radius: 2px; 
    /*outline-color: #753b3b00;*/
}
.p-inputtext {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    color: #495057;
    background: #ffffff;
    padding: 0.5rem 0.5rem;
    border: 1px solid #615a5a ;
    /* transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s; */
    /* -webkit-appearance: none; */
    -moz-appearance: none; 
    /* appearance: none; */
    /* border-radius: 3px; */
    /* outline-color: transparent; */
}

.p-multiselect {
    background: #ffffff;
    border: 1px solid #9b9494 !important;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 2px;
    outline-color: transparent;
}
.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
     box-shadow: 0 0 0 0.2rem #8df1a6; 
    border-color: #8df1a6;
}


.p-radiobutton .p-radiobutton-box {
    border: 0.5px solid #807e7e;
    background: #f0f5f1;
    width: 20px;
    height: 20px;
    color: #20d420;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    outline-color: transparent;
}
.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 14px;
    height: 14px;
    transition-duration: 0.2s;
    background-color: #23db3a;
}
button, input:where([type='button']), input:where([type='reset']), input:where([type='submit']) {
    -webkit-appearance: button;
    /* background-color: #00000000; */
    background-image: none;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #4ee213;
    /*border-color: #1c63bf;*/
    color: #000000;
}